{% extends 'base.html.twig' %}
{% block title %}Toutes nos voitures
{% endblock
%}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('build/css/paginator.css') }}"/>

{% endblock %}
{% block body %}
	<style></style>

	<div class="first">
		<h1>Decouvrez nos voitures</h1>
		<div class="car_list">
			{% for car in pagination %}
				<div class="card car_item" style="width: 18rem">
					<div class="image-card-container">
						{% if car.Picture is defined and car.Picture != null %}
							<img class="car-main-img" src="{{ vich_uploader_asset(car, 'PictureFile') }}" alt="Card image cap"/>
						{% else %}
							<img class="car-main-img" src="https://via.placeholder.com/300x150" alt="">
						{% endif %}
					</div>
					<div class="card-body">
						<h5 class="card-title">{{ car.Brand }}
							{{ car.Model }}</h5>
					</div>
					<ul class="list-group list-group-flush">
						<li class="list-group-item">
							Nombre d'options :
							{{ car.Options | length }}
						</li>
						<li class="list-group-item">Nombre de porte :
							{{ car.Door }}</li>

						<li class="list-group-item">Carburant :
							{{ car.FuelType }}</li>

						<li class="list-group-item">
							Boite de vitesse :
							{{ car.GearBoxType }}
						</li>

						{% if car.Type.Type is defined %}
							<li class="list-group-item">Type :
								{{ car.Type.Type }}</li>
						{% endif %}
					</ul>

					<a href="{{ path('app_car', {'brand' : car.Brand, 'type': car.Type.Type, 'modele': car.Model,'id' : car.id })}}" class="btn btn-primary">Voir la voiture</a>
				</div>
			{% endfor %}
		</div>

		<div class="custom-pagination" {{ stimulus_controller('paginator') }}>
			{{ knp_pagination_render(pagination) }}
		</div>

	</div>

	{# <script>
						
								if (document.querySelector('.custom-pagination .pagination .first a')) {
									document.querySelector('.custom-pagination .pagination .first a').innerHTML = '<i class="fa-solid fa-angles-left"></i>';
								}
								if (document.querySelector('.custom-pagination .pagination .previous a')) {
									document.querySelector('.custom-pagination .pagination .previous a').innerHTML = '<i class="fa-solid fa-angle-left"></i>';
								}
								if (document.querySelector('.custom-pagination .pagination .next a')) {
									document.querySelector('.custom-pagination .pagination .next a').innerHTML = '<i class="fa-solid fa-angle-right"></i>';
								}
								if (document.querySelector('.custom-pagination .pagination .last a')) {
									document.querySelector('.custom-pagination .pagination .last a').innerHTML = '<i class="fa-solid fa-angles-right"></i>';
								}
							</script> #}

{% endblock %}
