{% extends 'base.html.twig' %}
{% block title %}Hello HomeController!
{% endblock
%}
{% block body %}
	<style></style>

	<div class="first">
		<h1>Nos dernieres voitures</h1>

		<div class="car_list">

			{% for car in car_list %}
				<div
					class="card car_item" style="width: 18rem">
					{# <img class="card-img-top" src="..." alt="Card image cap" /> #}
					<div class="card-body">
						<h5 class="card-title">{{ car.Brand }}
							{{ car.Model }}</h5>
					</div>
					<ul class="list-group list-group-flush">
						<li class="list-group-item">
							Nombre d'options :
							{{ car.Options | length }}
						</li>
						<li class="list-group-item">Nombre de porte :
							{{ car.Door }}</li>

						<li class="list-group-item">Carburant :
							{{ car.FuelType }}</li>

						<li class="list-group-item">
							Boite de vitesse :
							{{ car.GearBoxType }}
						</li>

						{% if car.Type.Type is defined %}
							<li class="list-group-item">Type :
								{{ car.Type.Type }}</li>
						{% endif %}
					</ul>
				</div>
			{% endfor %}
		</div>
	</div>

{% endblock %}
