// @import "~bootstrap/scss/bootstrap";

.car_list {
  margin: 5px;
  display: flex;
  flex-wrap: wrap;

  .car_item {
    display: flex;
    // flex-direction: row;
    margin: 5px;
    padding: 2px;
    min-width: fit-content;
    // overflow: hidden;

    .image-card-container {
      width: 100%;
      height: 150px;
      overflow: hidden;

      .car-main-img {
        max-width: 300px;
        min-width: 300px;
        object-fit: cover;
        max-height: 150px;
        min-height: 150px;
        transition: cubic-bezier(0.6, -0.28, 0.74, 0.05) 1s;
        overflow: hidden;
      }
    }
  }

  .car_item:hover .car-main-img {
    transform: scale(1.3);
  }
}

// ------ CAR PAGE ------

.car-page-item {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  .banner {
    width: 49%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      object-fit: cover;
      min-width: 500px;
      min-height: 250px;

      max-width: 500px;
      max-height: 250px;
    }
  }
  .informations {
    width: 49%;
    display: flex;
    flex-direction: column;

    .options-list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      max-width: fit-content;

      span {
        margin: 1px;
      }
    }
  }
}

.car-footer {
  background-color: gray;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
}
