.custom-pagination {
  .pagination {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;

    span {
      display: flex;
      flex-direction: row;
      margin: 10px;
      border-radius: 20px;

      &:hover a {
        background-color: rgb(196, 196, 196);
        transition-duration: 1000ms;
      }
    }

    a {
      text-decoration: none;
      color: black;
      padding: 10px;
      border-radius: 20px;
    }

    .current {
      background-color: rgb(151, 151, 151);
      padding: 10px;
      color: white;
    }
  }
}
